<%- include('includes/head.ejs') %>
</head>

<body class="menu-on-left">
  <div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="/img/sidebar-1.jpg">
      <%- include('includes/navigationSidebar.ejs') %>
      <div class="main-panel">
        <!-- Navbar Top-->
        <%- include('includes/navigationTop.ejs') %>

        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <!--The below is for card body of the Lights Card-->
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">lightbulb_outline</i>
                    </div>
                    <h3 class="card-title">Lights
                    </h3>
                  </div>
                  <hr>

                  <!--Device state change toggle button-->
                  <div class="m-auto">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="he">
                    <input type="hidden" name="typeDevice" value="light">
                    <h4><b>Turn All</b> </h4>
                    <button type="submit" onclick="stateChangeAll(this,'On')"
                      class="btn  btn-outline-danger">On</button>
                    <button type="submit" onclick="stateChangeAll(this,'Off')"
                      class="btn btn-outline-success">Off</button>
                  </div>
                </div>
              </div>

              <!--The below is for card body and desing of the Plugs Card-->
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">power</i>
                    </div>
                    <h3 class="card-title">Plugs
                    </h3>
                  </div>
                  <hr>

                  <!--Device state change toggle button-->
                  <div class="m-auto">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="he">
                    <input type="hidden" name="typeDevice" value="plug">
                    <h4><b>Turn All</b> </h4>
                    <button type="submit" onclick="stateChangeAll(this,'On')"
                      class="btn  btn-outline-danger">On</button>
                    <button type="submit" onclick="stateChangeAll(this,'Off')"
                      class="btn btn-outline-success">Off</button>
                  </div>
                </div>
              </div>

              <!--The below is for card body and desing of the Doors Card-->
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">home</i>
                    </div>
                    <h3 class="card-title">Doors
                    </h3>
                  </div>
                  <hr>
                  <!--Device state change toggle button-->
                  <div class="m-auto">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="he">
                    <input type="hidden" name="typeDevice" value="door">
                    <h4><b>All</b> </h4>
                    <button type="submit" onclick="stateChangeAll(this,'On')"
                      class="btn  btn-outline-danger">Open</button>
                    <button type="submit" onclick="stateChangeAll(this,'Off')"
                      class="btn btn-outline-success">Close</button>
                  </div>
                </div>
              </div>

              <!--The below is for card body and desing of the AC Card-->
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">toys</i>
                    </div>
                    <h3 class="card-title">AC
                    </h3>
                  </div>
                  <hr>

                  <!--Device state change toggle button-->
                  <div class="m-auto">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="he">
                    <input type="hidden" name="typeDevice" value="ac">
                    <h4><b>Turn All</b> </h4>
                    <button type="submit" onclick="stateChangeAll(this,'On')"
                      class="btn  btn-outline-danger">On</button>
                    <button type="submit" onclick="stateChangeAll(this,'Off')"
                      class="btn btn-outline-success">Off</button>
                  </div>
                </div>
              </div>

              <div class="col-md-10 m-auto">
                
                <hr>
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Edit Profile</h4>
                  </div>
                  <div class="card-body">
                     
                    <div>
           
                      
                          <div class="col-lg-6 col-md-9 col-sm-9">
                              <div id="errorMessage"></div>
                              <div class="card card-stats">
                                <div class="card-header card-header-info card-header-icon">
                                  <h3 class="card-title">Username
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <i class="material-icons">person</i>
                                            <input type="text" class="form-control" name="username" placeholder="New Username">
                                            <button type="submit" class="btn btn-primary pull-right"
                                              onclick="updateProfile(this)">Change username</button>            
                                  </h3>
                                </div>
                       
                      </div>
                    </div>
                    <form onsubmit="return validateUpdatePassword()" method="POST" action="/update-password" >                    <div class="col-lg-6 col-md-9 col-sm-9">
                        <div class="card card-stats">
                          <div class="card-header card-header-info card-header-icon">
                              <% if (errorMessage) {%>
                                <div class="user-message user-message--error"><%= errorMessage %></div>
                                <% } %>
                            <h3 class="card-title">Password
                                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                      <i class="material-icons">lock</i>
                                      <input type="password" class="form-control" name="password" id="oldPassword" placeholder="Old Password">
                                      <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="New Password">
                                      <input type="password" class="form-control" name="re_pass" id="re_pass" placeholder="Confirm New Password">
                                      <button type="submit" class="btn btn-primary pull-right">Change Password</button>        
                            </h3>
                          </div>
                </div>
                </form>
              </div>
                   </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--   Core JS Files   -->
      <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
      <script src="/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
      <script src="/js/core/material.js" type="text/javascript"></script>
       <!--The below script will be used in order to validate and send POST request from front end to the back end-->
      <script src="/js/admin.js"></script>
      <script type="text/javascript" src="/js/plugins/pwstrength-bootstrap.min.js"></script>
      <script type="text/javascript">
          jQuery(document).ready(function () {
              "use strict";
              var options = {};
              options.ui = {
                  container: "#pwd-container",
                  showStatus: true,
                  showProgressBar: true,
                  viewports: {
                      verdict: ".pwstrength_viewport_verdict"
                  }
              };
  
              $(':password').pwstrength(options);
  
          });
      </script>
          <script type="text/javascript" src="/js/validationForms.js"></script>
</body>

</html>