<%- include('includes/head.ejs') %>
</head>

<body class="menu-on-left">
  <div class="wrapper">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="/img/sidebar-1.jpg">

      <%- include('includes/navigationSidebar.ejs') %>

      <div class="main-panel">
        <!-- Navbar Top -->
        <%- include('includes/navigationTop.ejs') %>

        <div class="content">
          <div class="container-fluid">
            <div class="row">

              <!--The below is for card body and desing of the Lights Card-->
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">lightbulb_outline</i>
                    </div>
                    <h3 class="card-title">Lights
                    </h3>
                  </div>
                  <hr>

                  <% if (dev.length > 0) { %>
                  <% for (let device of dev) { %>
                  <% if (device.typeDevice == "light") { %>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <h5><b>
                          <center><%= device.name %> - <%= device.state %> </center>
                        </b></h5>
                    </li>
                  </ul>
                  <% } %>
                  <% } %>
                  <% } %>
                </div>
              </div>

              <!--The below is for card body and desing of the Plugs Card-->
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">power</i>
                    </div>
                    <h3 class="card-title">Plugs
                    </h3>
                  </div>
                  <hr>

                  <% if (dev.length > 0) { %>
                  <% for (let device of dev) { %>
                  <% if (device.typeDevice == "plug") { %>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <h5><b>
                          <center><%= device.name %> - <%= device.state %> </center>
                        </b></h5>
                    </li>
                  </ul>
                  <% } %>
                  <% } %>
                  <% } %>
                </div>
              </div>

              <!--The below is for card body and desing of the Doors Card-->
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">home</i>
                    </div>
                    <h3 class="card-title">Doors
                    </h3>
                  </div>
                  <hr>

                  <% if (dev.length > 0) { %>
                  <% for (let device of dev) { %>
                  <% if (device.typeDevice == "door") { %>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <h5><b>
                          <center><%= device.name %> - <%= device.state === 'On' ? 'Open' : 'Close' %> </center>
                        </b></h5>
                    </li>
                  </ul>
                  <% } %>
                  <% } %>
                  <% } %>
                </div>
              </div>

              <!--The below is for card body and desing of the Air Conditioner Card-->
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">toys</i>
                    </div>
                    <h3 class="card-title">AC
                    </h3>
                  </div>
                  <hr>

                  <% if (dev.length > 0) { %>
                  <% for (let device of dev) { %>
                  <% if (device.typeDevice == "ac") { %>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <h5><b>
                          <center><%= device.name %> - <%= device.state %> </center>
                        </b></h5>
                    </li>
                  </ul>
                  <% } %>
                  <% } %>
                  <% } %>
                </div>
              </div>
            </div>

            <div class="row">
                
              <div class="col-md-12">
                <a id="graph"></a>
                <div class="card card-chart">
                    <div class="dropdown">
                        <button class="btn btn-secondary  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Select Times for Today
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <a class="dropdown-item"  href="#graph" onclick="updateGraph(moment().format('YYYY-MM-DD')+'T00:00:00.000', moment().format('YYYY-MM-DD')+'T06:00:00.000' )">00:00 - 06:00</a>
                          <a class="dropdown-item" href="#graph" onclick="updateGraph(moment().format('YYYY-MM-DD')+'T06:00:00.000', moment().format('YYYY-MM-DD')+'T12:00:00.000')">06:00 - 12:00</a>
                          <a class="dropdown-item" href="#graph" onclick="updateGraph(moment().format('YYYY-MM-DD')+'T12:00:00.000', moment().format('YYYY-MM-DD')+'T18:00:00.000')">12:00 - 18:00</a>
                          <a class="dropdown-item" href="#graph" onclick="updateGraph(moment().format('YYYY-MM-DD')+'T18:00:00.000', moment().format('YYYY-MM-DD')+'T24:00:00.000')">18:00 - 24:00</a>
                        </div>
                      </div>
                      <div class="dropdown">
                        <button class="btn btn-secondary  dropdown-toggle" type="button" class="date" id="ddropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Daily Statistics
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <a class="dropdown-item" href="#graph" onclick="updateGraph((moment().subtract(7,'days').format('YYYY-MM-DD')+'T00:00:00.000'),(moment().subtract(7,'days').format('YYYY-MM-DD')+'T24:00:00.000'))"><%= moment().tz(moment.tz.guess()).subtract(7,'days').format("YYYY-MM-DD") %></a>
                          <a class="dropdown-item" href="#graph" onclick="updateGraph((moment().subtract(6,'days').format('YYYY-MM-DD')+'T00:00:00.000'),(moment().subtract(6,'days').format('YYYY-MM-DD')+'T24:00:00.000'))"><%= moment().subtract(6,'days').format("YYYY-MM-DD") %></a>
                          <a class="dropdown-item" href="#graph" onclick="updateGraph((moment().subtract(5,'days').format('YYYY-MM-DD')+'T00:00:00.000'),(moment().subtract(5,'days').format('YYYY-MM-DD')+'T24:00:00.000'))"><%= moment().subtract(5,'days').format("YYYY-MM-DD") %></a>
                          <a class="dropdown-item" href="#graph" onclick="updateGraph((moment().subtract(4,'days').format('YYYY-MM-DD')+'T00:00:00.000'),(moment().subtract(4,'days').format('YYYY-MM-DD')+'T24:00:00.000'))"><%= moment().subtract(4,'days').format("YYYY-MM-DD") %></a>
                          <a class="dropdown-item" href="#graph" onclick="updateGraph((moment().subtract(3,'days').format('YYYY-MM-DD')+'T00:00:00.000'),(moment().subtract(3,'days').format('YYYY-MM-DD')+'T24:00:00.000'))"><%= moment().subtract(3,'days').format("YYYY-MM-DD") %></a>
                          <a class="dropdown-item" href="#graph" onclick="updateGraph((moment().subtract(2,'days').format('YYYY-MM-DD')+'T00:00:00.000'),(moment().subtract(2,'days').format('YYYY-MM-DD')+'T24:00:00.000'))"><%= moment().subtract(2,'days').format("YYYY-MM-DD") %></a>
                          <a class="dropdown-item" href="#graph" onclick="updateGraph((moment().subtract(1,'days').format('YYYY-MM-DD')+'T00:00:00.000'),(moment().subtract(1,'days').format('YYYY-MM-DD')+'T24:00:00.000'))"><%= moment().subtract(1,'days').format("YYYY-MM-DD") %></a>
                        </div>
                      </div>
                  <canvas id="myChart" id="bar-chart" width="800" height="420"></canvas>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">access_time</i> updated 1 hourly
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>

             
          </div>

          <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
          <script src="/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
          <script src="/js/core/material.js" type="text/javascript"></script>

          <!--The below script used in order to show the Chart Temperatures-->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

          <script>
       
       let ctx = document.querySelector('#myChart').getContext('2d');
            
            let myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: [ 
               
                <% if (thermo.length > 0) { %>
                  <% for (let temp of thermo) { %>
                      "<%= moment(temp.date).tr(moment.tz.guess()).format('HH:mm')  %>",  //The data which is from Server is based on UTC, that's why +1 hour  
                  <% } %>
                  <% } %>
                   
              ],
                datasets: [{
                  label: 'Temperature in C',
                  data: [ 
                    
                  <% if (thermo.length > 0) { %>
                  <% for (let temp of thermo) { %>
                      <%= temp.temperature %>,
                     
                  <% } %>
                  <% } %>
                ],
                  backgroundColor: [
                  'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                  ],
                  borderColor: [
                  'rgba(54, 162, 235, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(54, 162, 235, 1)'
                  ],
                  borderWidth: 1
                },
                {
                  label: 'Humidity in %',
                  data: [
                  <% if (thermo.length > 0) { %>
                  <% for (let temp of thermo) { %>
                      <%= temp.humidity %>,
                     
                  <% } %>
                  <% } %>
                ],
                  backgroundColor: [
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
                }
              ]
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: true
                    }
                  }]
                },
                title: {
                  display: true,
                  text: 'Temperature of the room',
                  fontSize: 18
                }
              }
            }); // end chart obj       
          </script>

          <!--The below script will be used in order to validate and send POST request from front end to the back end-->
          <script src="/js/admin.js"></script>
</body>

</html>